/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body{
	font-family: 'Poppins', sans-serif;
}
/* O código acima reseta todo o css já presente nos navegadores*/

.logomarca{
    width: 135px;
    height: 76px;
    background: url("imagens/logo_size.jpg") no-repeat 0 0;
	display: block;
}

.logo{
	float: left;
	padding-top: .5rem;
}

.menu{
    float: right;
}

.menu_li{
	float: left;
	margin: 1rem 1rem;
}

.menu_link{
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-size: 1.2rem;
}

.btn a{
	color: white;
	font-size: 1.2rem;
	text-decoration: none;
}


.clear{
    clear: both;
}

.center{
   width: 1110px;
   margin: 0 auto;
}

.apresentacao{
	background: rgb(255,12,12);
	background: linear-gradient(180deg, rgba(255,12,12,1) 19%, rgba(255,183,183,1) 70%, rgba(255,255,255,1) 92%);
	padding-top: 3rem;
}

.bt-sing{
	border: 1px solid rgb(255, 255, 255);
	color: white;
	text-decoration: none;
	border-radius: 5px;
	font-size: 1.2rem;
	font-weight: 600;
	padding: .3rem .3rem;
	margin-left: 3rem;
}

.bt-singup{
	background: black;
	color: white;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	font-size: 1.2rem;
	font-weight: 600;
	padding: .3rem .3rem;
}

.apresentacao_box{
	padding-top: 5rem;
}

.apresentacao_descricao{
	width: 40%;
	float: left;
	margin-left: 10rem;
}

.apresentacao_video{
	width: 45%;
	float: left;
	margin-left: 2rem;

}

.apresentacao_video img{
	width: auto;
	height: auto;
	max-width: 500px;
	max-height: 350px;

}


.title-apresentacao{
	color: rgb(29, 29, 29);
	font-size: 2.5rem;
	line-height: 48px;
}

.title-apresentacao strong{
	font-weight: 600;
}

.descricao-apresentacao{
	font-size: 1rem;
	line-height: 1.5rem;
	margin: 2rem 0; 
}

.btn-red{
	background: red;
	font-size: 1.2rem;
	font-weight: 600;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	padding: 12px 30px;
	display: inline-block /*O botão estava por cima, com esse código ele desceu*/
}